ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: rgb(122, 72, 216);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(247, 246, 244)
}
li a:hover:not(.active) {
    background-color: rgb(106, 187, 40);
}

.active {
    background-color: rgb(64, 233, 64);
}
.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}